<?xml version="1.0" encoding="utf-8"?>
<DataConfig Default="SqlServer">
  <Connections>
    <Add Key="SqlServer" Provider="Microsoft.Data.SqlClient"
         ConnStr="server=YOUR_SERVER;database=FastDataDemo;uid=YOUR_USER;pwd=YOUR_PWD;TrustServerCertificate=true"
         IsDefault="true" />
    <Add Key="MySql" Provider="MySql.Data.MySqlClient"
         ConnStr="server=YOUR_SERVER;database=FastDataDemo;uid=YOUR_USER;pwd=YOUR_PWD" />
    <Add Key="PostgreSql" Provider="Npgsql"
         ConnStr="server=YOUR_SERVER;database=fastdatademo;uid=YOUR_USER;pwd=YOUR_PWD" />
  </Connections>
  <Redis Server="YOUR_REDIS:6379" Db="0" Password="" />
</DataConfig>
