<?xml version="1.0" encoding="utf-8"?>
<DataConfig Default="SqlServer">
  <Connections>
    <Add Key="SqlServer" Provider="Microsoft.Data.SqlClient"
         ConnStr="server=localhost;database=FastDataDemo;uid=sa;pwd=FastData@Test123;TrustServerCertificate=true;Max Pool Size=200;Min Pool Size=10;Connect Timeout=10;Command Timeout=30"
         IsDefault="true" />
    <Add Key="MySql" Provider="MySql.Data.MySqlClient"
         ConnStr="server=127.0.0.1;database=FastDataDemo;uid=root;pwd=FastData@Test123;MaximumPoolSize=200;MinimumPoolSize=10;ConnectionTimeout=10;DefaultCommandTimeout=30;SslMode=None" />
    <Add Key="PostgreSql" Provider="Npgsql"
         ConnStr="server=127.0.0.1;database=fastdatademo;uid=postgres;pwd=postgres;Maximum Pool Size=200;Minimum Pool Size=10;Timeout=10;Command Timeout=30" />
    <Add Key="Sqlite" Provider="System.Data.SQLite"
         ConnStr="Data Source=fastdata_demo.db" />
  </Connections>
  <Redis Server="127.0.0.1:6379" Db="7" />
</DataConfig>
