<?xml version="1.0" encoding="utf-8"?>
<DataConfig Default="Sqlite">
  <Connections>
    <Add Key="Sqlite" Provider="Microsoft.Data.Sqlite" ConnStr="Data Source=duplicate-a.db" />
    <Add Key="Sqlite" Provider="Microsoft.Data.Sqlite" ConnStr="Data Source=duplicate-b.db" />
  </Connections>
</DataConfig>
